mat-form-field {
  width: 50%;
}
button[mat-raised-button] {
  background-color: #012F16; /* Verde oscuro */
  color: white;
  border: none;
  padding: 0.5rem 1.25rem;
  font-size: 1.1rem;
  border-radius: 0.375rem; /* border-radius similar a bootstrap */
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 50%; /* para que tome todo el ancho si quieres */
}

button[mat-raised-button]:hover {
  background-color: #B6C471; /* Verde oliva al hover */
}