<div class="container" style="text-align: center">
  <div class="img">
    <img src="assets/logo.png" alt="Logo de la empresa">
  </div>
  <h2>🔐 Inicie sesión</h2>

  <mat-form-field class="example-full-width">
    <mat-label>👤 Usuario</mat-label>
    <input matInput placeholder="Username" [(ngModel)]="username" />
  </mat-form-field>
  <br />

  <mat-form-field class="example-full-width">
    <mat-label>🔑 Password</mat-label>
    <input
      type="password"
      matInput
      placeholder="Password"
      [(ngModel)]="password"
    />
  </mat-form-field>
  <br />

  <button mat-raised-button class="custom-button" (click)="login()">🚪 Ingresar</button>
   <br>
   <br>
  <button mat-raised-button color="accent" type="button" (click)="cancelar()">
        Cancelar
    </button>

  <!-- Enlace al registro -->
  <p style="margin-top: 15px; font-size: 14px;">
    ¿No tienes una cuenta? 
    <a href="/usuarios/nuevo" style="text-decoration: none; color: #3f51b5;">Haz click aquí</a>
  </p>
</div>
