<div class="contenedor-info fade-in">

  <!-- 👥 NOSOTROS -->
  <mat-card class="info-card nosotros">
    <mat-card-header>
      <mat-card-title>Nosotros</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        En FoodSave, creemos que cada alimento cuenta.
        Nuestra meta no solo es ayudar a las personas a ahorrar, 
        sino también a transformar la forma en que el mundo se relaciona con la comida.
      </p>
      <img mat-card-image src="assets/logo.png" alt="Nosotros FoodSave" />
    </mat-card-content>
  </mat-card>

  <!-- 🎯 MISIÓN -->
  <mat-card class="info-card mision">
    <mat-card-header>
      <mat-card-title>Misión</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        nuestra misión es reducir el desperdicio de alimentos y su impacto ambiental mediante el uso de la tecnología.
        Buscamos empoderar a las personas para que gestionen de manera eficiente sus alimentos, aprovechando cada producto antes de su fecha de caducidad.
        A través de una aplicación innovadora, promovemos hábitos de consumo responsables, ayudamos a optimizar los recursos del hogar y contribuimos activamente al cuidado del planeta.
      </p>
      <img mat-card-image src="assets/mission-icon.jpg" alt="Misión FoodSave" />
    </mat-card-content>
  </mat-card>

  <!-- 🔭 VISIÓN -->
  <mat-card class="info-card vision">
    <mat-card-header>
      <mat-card-title>Visión</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Ser la plataforma líder en Latinoamérica en la lucha contra el desperdicio de alimentos, integrando tecnología inteligente, sostenibilidad y educación ambiental.
        Aspiramos a construir una comunidad global consciente, donde cada usuario 
        utilice FoodSave como una herramienta cotidiana para reducir el impacto ecológico y fomentar un futuro más sostenible para las próximas generaciones.
      </p>
      <img mat-card-image src="assets/vision-icon.jpg" alt="Visión FoodSave" />
    </mat-card-content>
  </mat-card>

</div>
