<mat-card class="welcome-card">
  <mat-card-header>
    <mat-card-title>👋 Bienvenido a FOODSAVE</mat-card-title>
    <mat-card-subtitle>🤝Escanea, guarda y salva</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      ✅ Ya iniciaste sesión. Aquí puedes acceder a los productos disponibles, revisar tus inventarios, tus favoritos , canjear logros y más...
    </p>
    <div class="quick-actions">
      <button mat-raised-button color="primary" routerLink="/productos">🛒 Productos</button>
      <button mat-raised-button color="accent" routerLink="/premios">🎁 Ver Logros</button>
      <button mat-raised-button color="primary" routerLink="/inventarios">📘 Mi inventario</button>
    </div>
  </mat-card-content>
</mat-card>
