:host {
  display: block;
  padding: 24px;
  background-color: #FFF0D4;
}

.welcome-card {
  max-width: 800px;
  margin: 40px auto;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(1, 47, 22, 0.1);
  background-color: #ffffff;
  text-align: center;
}

.welcome-card mat-card-title {
  font-size: 2rem;
  color: #012F16;
  font-weight: bold;
}

.welcome-card mat-card-subtitle {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #663300;
}

.welcome-card p {
  font-size: 1rem;
  color: #3B3B3B;
  margin-bottom: 20px;
}

.quick-actions {
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
}