<div class="container">
  <div style="text-align: center; margin:5%">
    <h1>📚 Lista de Artículos</h1>
  </div>

  <div style="text-align: center; margin:5%">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 custom-table">

      <!-- ID -->
      <ng-container matColumnDef="c1">
        <th mat-header-cell *matHeaderCellDef>🆔 ID</th>
        <td mat-cell *matCellDef="let element">{{ element.idArticulo }}</td>
      </ng-container>

      <!-- Nombre -->
      <ng-container matColumnDef="c2">
        <th mat-header-cell *matHeaderCellDef>📝 Nombre</th>
        <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
      </ng-container>

      <!-- Categoria -->
      <ng-container matColumnDef="c3">
        <th mat-header-cell *matHeaderCellDef>📄 Categoria</th>
        <td mat-cell *matCellDef="let element">{{ element.categoria }}</td>
      </ng-container>

      <!-- Vida Útil Dias -->
      <ng-container matColumnDef="c4">
        <th mat-header-cell *matHeaderCellDef>📅 Vida Útil Dias</th>
        <td mat-cell *matCellDef="let element">{{ element.vidaUtilDias }}</td>
      </ng-container>

      <!-- Estado -->
      <ng-container matColumnDef="c5">
        <th mat-header-cell *matHeaderCellDef>👨‍🏫 Estado</th>
        <td mat-cell *matCellDef="let element">{{ element.estado }}</td>
      </ng-container>

      <!-- Codigo Barra -->
      <ng-container matColumnDef="c6">
        <th mat-header-cell *matHeaderCellDef>📊 Codigo Barra</th>
        <td mat-cell *matCellDef="let element">{{ element.codigoBarra }}</td>
      </ng-container>

      <!-- Peso Unitario -->
      <ng-container matColumnDef="c7">
        <th mat-header-cell *matHeaderCellDef>⚖️ Peso Unitario</th>
        <td mat-cell *matCellDef="let element">{{ element.pesoUnitario }}</td>
      </ng-container>

      <!-- Actualizar -->
      <ng-container *ngIf="isLoggedIn" matColumnDef="c8">
        <th mat-header-cell *matHeaderCellDef>🔄 Actualizar</th>
        <td mat-cell *matCellDef="let element">
          <button mat-button *ngIf="isLoggedIn" [routerLink]="['ediciones', element.idArticulo]">
            <mat-icon>update</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Eliminar -->
      <ng-container *ngIf="isLoggedIn" matColumnDef="c9">
        <th mat-header-cell *matHeaderCellDef>🗑️ Eliminar</th>
        <td mat-cell *matCellDef="let element">
          <button mat-button *ngIf="isLoggedIn" (click)="eliminar(element.idArticulo)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator [length]="50"
                   [pageSize]="5"
                   [pageSizeOptions]="[5, 10, 25, 50]"
                   aria-label="Seleccionar página">
    </mat-paginator>
  </div>
</div>

