<div class="contanier">
  <div style="text-align: center; margin:5%"><h1>🎁 Lista de Logros</h1></div>
  <div style="text-align: center; margin:5%">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

      <!-- Columna id de la tabla Logro - c1 -->
      <ng-container matColumnDef="c1">
        <th mat-header-cell *matHeaderCellDef>🆔 ID</th>
        <td mat-cell *matCellDef="let element">{{element.id}}</td>
      </ng-container>

      <!-- Columna Formato Archivo de la tabla Logro - c2-->
      <ng-container matColumnDef="c2">
        <th mat-header-cell *matHeaderCellDef> 🏆 Nombre de logro</th>
        <td mat-cell *matCellDef="let element">{{element.nombreLogro}}</td>
      </ng-container>

      <!-- Columna Formato Archivo de la tabla Logro - c3-->
      <ng-container matColumnDef="c3">
        <th mat-header-cell *matHeaderCellDef> 🏆 Descripcion de logro</th>
        <td mat-cell *matCellDef="let element">{{element.descripcionLogro}}</td>
      </ng-container>

      <!-- Columna Formato Archivo de la tabla Logro - c4-->
      <ng-container matColumnDef="c4">
        <th mat-header-cell *matHeaderCellDef>⭐ Puntos</th>
        <td mat-cell *matCellDef="let element">{{element.puntosLogro}}</td>
      </ng-container>

      <ng-container *ngIf="isLoggedIn" matColumnDef="c5">
        <th mat-header-cell *matHeaderCellDef>Actualizar</th>
        <td mat-cell *matCellDef="let element">
          <button matButton *ngIf="isLoggedIn" [routerLink]="['ediciones',element.id]">
            <mat-icon>update</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container *ngIf="isLoggedIn" matColumnDef="c6">
        <th mat-header-cell *matHeaderCellDef >Eliminar</th>
        <td mat-cell *matCellDef="let element">
          <button matButton *ngIf="isLoggedIn" (click)="eliminar(element.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [length]="50"
              [pageSize]="5"
              [pageSizeOptions]="[5, 10, 25, 50]"
              aria-label="Seleccionar pagina">
      </mat-paginator>
  </div>
</div>
