<div *ngIf="cargando" class="spinner-container">
  <div class="spinner"></div>
  <p>Cargando perfil...</p>
</div>

<div class="perfil-container fade-in" *ngIf="!cargando && usuario">
  <h2>Mi Perfil</h2>
  <div class="perfil-card">
    <div class="perfil-avatar">
      <mat-icon>account_circle</mat-icon>
    </div>
    <div class="perfil-info">
      <p><strong>Nombre de usuario:</strong> {{ usuario.username }}</p>
      <p><strong>Correo:</strong> {{ usuario.email }}</p>
      <p><strong>Foto:</strong> {{ usuario.foto }}</p>
      <p><strong>Ubicación:</strong> {{ usuario.ubicacion }}</p>
      <p><strong>login:</strong> {{ usuario.login }}</p>
      <p><strong>Fecha de creación:</strong> {{ usuario.creacion }}</p>
      <p><strong>Rol:</strong> {{ usuario.rol.nombreRol }}</p>
      <p><strong>Estado:</strong>
        <span [ngClass]="usuario.estado ? 'activo' : 'inactivo'">
          {{ usuario.estado ? 'Activo' : 'Inactivo' }}
        </span>
      </p>
    </div>
  </div>
</div>
